name: Validate the calculations after push and build the documentation

on: [push]

jobs:
  Validate-Caculations:
    runs-on: ubuntu-latest
    
    steps:
    - name: Check out the code
      uses: actions/checkout@v3
    
    - name: Set up JDK 22
      uses: actions/setup-java@v4
      with:
          distribution: 'temurin'
          java-version: '22'
    
    - name: Set up Python 3.12
      uses: actions/setup-python@v4
      with:
         python-version: '3.12'
    
    - name: Validate NawaMan results with baseline result
      run: ./validate-calculation.sh 1000000

  Build-Documentation:
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out the code
        uses: actions/checkout@v3

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9
    
      - name: Build
        working-directory: ./docs-src
        run: pnpm install && pnpm build
