name: Validate the calculations after push

on: [push]

jobs:
  Validate-Caculations:
    runs-on: ubuntu-latest
    
    steps:
    - name: Check out the code
      uses: actions/checkout@v3
    
    - name: Set up JDK 22
      uses: actions/setup-java@v4
      with:
          distribution: 'temurin'
          java-version: '22'
    
    - name: Set up Python 3.12
      uses: actions/setup-python@v4
      with:
         python-version: '3.12'
    
    - name: Validate NawaMan results with baseline result
      run: ./validation.sh 1000000
