name: Setup JDK 21, jenv, and Python 3.12

on: [push]

jobs:
  setup-environment:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the code
      uses: actions/checkout@v3

    - name: Install JDK 21
      run: |
        sudo apt-get update
        sudo apt-get install -y openjdk-21-jdk
        sudo update-alternatives --install /usr/bin/java java /usr/lib/jvm/java-21-openjdk-amd64/bin/java 1
        sudo update-alternatives --install /usr/bin/javac javac /usr/lib/jvm/java-21-openjdk-amd64/bin/javac 1
        sudo update-alternatives --config java
        sudo update-alternatives --config javac
        java -version

    - name: Install jenv
      run: |
        git clone https://github.com/jenv/jenv.git ~/.jenv
        export PATH="$HOME/.jenv/bin:$PATH"
        eval "$(jenv init -)"
        jenv doctor
      shell: bash

    - name: Add JDK 21 to jenv
      run: |
        export PATH="$HOME/.jenv/bin:$PATH"
        eval "$(jenv init -)"
        jenv add /usr/lib/jvm/java-21-openjdk-amd64
        jenv global 21
        jenv versions
        java -version
      shell: bash

    - name: Install Python 3.12
      run: |
        sudo apt-get install -y software-properties-common
        sudo add-apt-repository ppa:deadsnakes/ppa -y
        sudo apt-get update
        sudo apt-get install -y python3.12 python3.12-venv python3.12-dev
        python3.12 --version
      shell: bash

    - name: Compare result with baseline
      run: |
        ls -la
        df -h
        ./compare.sh
