name: Setup JDK 21, jenv, and Python 3.12

on: [push]

jobs:
  setup-environment:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the code
      uses: actions/checkout@v3

    - name: Install JDK 21
      run: |
        sudo apt-get update
        sudo apt-get install -y openjdk-21-jdk
        java -version

    - name: Install jenv
      run: |
        git clone https://github.com/jenv/jenv.git ~/.jenv
        echo 'export PATH="$HOME/.jenv/bin:$PATH"' >> $GITHUB_ENV
        echo 'eval "$(jenv init -)"' >> $GITHUB_ENV
        source ~/.bashrc
        jenv doctor
      shell: bash

    - name: Add JDK 21 to jenv
      run: |
        source ~/.bashrc
        jenv add /usr/lib/jvm/java-21-openjdk-amd64
        jenv global 21
        jenv versions
        java -version
      shell: bash

    - name: Install Python 3.12
      run: |
        sudo apt-get install -y software-properties-common
        sudo add-apt-repository ppa:deadsnakes/ppa -y
        sudo apt-get update
        sudo apt-get install -y python3.12 python3.12-venv python3.12-dev
        python3.12 --version
      shell: bash

    - name: Compare result with baseline
      run: |
        ls -la
