name: Setup JDK 21, jenv, and Python 3.12

on: [push]

jobs:
  setup-environment:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the code
      uses: actions/checkout@v3

    - name: Install JDK 21
      run: |
        sudo apt-get update
        sudo apt-get install -y openjdk-21-jdk
        sudo update-alternatives --install /usr/bin/java java /usr/lib/jvm/java-21-openjdk-amd64/bin/java 1
        sudo update-alternatives --install /usr/bin/javac javac /usr/lib/jvm/java-21-openjdk-amd64/bin/javac 1
        sudo update-alternatives --set java /usr/lib/jvm/java-21-openjdk-amd64/bin/java
        sudo update-alternatives --set javac /usr/lib/jvm/java-21-openjdk-amd64/bin/javac
        java -version

    - name: Install Python 3.12
      run: |
        sudo apt-get install -y software-properties-common
        sudo add-apt-repository ppa:deadsnakes/ppa -y
        sudo apt-get update
        sudo apt-get install -y python3.12 python3.12-venv python3.12-dev
        python3.12 --version
      shell: bash

    - name: Validate NawaMan results with baseline
      run: ./validation.sh 1000000
